@import "../variables.scss";

.clearfix{
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

.visible-print{
    display: block !important;
}

.hidden-print,
.hidden{
    display: none !important;
}

form,
iframe,
.modal{
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin-top: 0px;
}

a{
    color: $black;
    text-decoration: none;
}

img{
    max-width: 300px;
    width: 100%;
    height: auto;
}
