/*
 * Bootstrap has also a lot of mixins,
 * Take a look at them /bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins
 */

//---------- Functions
@function calculateRem($size) {
	$remSize: $size / 10px;
	@return $remSize * 1rem;
}

//---------- Font size mixin
@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}

//---------- Line height mixin
@mixin line-height($size) {
	line-height: $size;
	line-height: calculateRem($size);
}

//---------- Center the unknown
/*.display-table{
	display: table !important;
	table-layout: fixed;
	height: 100%;
	width: 100%;
	&.center{
		text-align: center !important;
	}
	.display-table-cell{
		display: table-cell;
		vertical-align: middle;
	}
}*/

//---------- Font smoothing
/*.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0,0,0,0.01) 0 0 1px;
}*/
