//---------- Responsive

/*
 * Breakpoints:
 *
 * $screen-xs-min: 480px;        $screen-sm-max: 767px;
 * $screen-sm-min: 768px;        $screen-sm-max: 991px;
 * $screen-md-min: 992px;        $screen-md-max: 1199px;
 * $screen-lg-min: 1200px;       $screen-lg-max: 1599px;
 * $screen-xl-min: 1600px;
 */

@media screen and (max-width: $screen-xs-max) {

}
